@import '../../../styles/base.scss';

.none {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $tip;
  user-select: none;
}

@media screen and (max-width: 960px) {
  .none {
    height: 2rem;
    font-size: 1rem;
  }
}
