.list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  .item{
    display: flex;
    line-height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    background: #FFF;
    border: 1px dashed #ccc;
    color: #999;
    // 设置最后一个list的边距
    &:last-of-type{
      margin-bottom: 20px;
    }
    .content {
      flex: 1;
    }
    .delete {
      width: 80px;
    }
  }
}