@import '../../../../styles/base.scss';
@import '../../../../styles/style.scss';

.baseBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 70px;
  font-size: 22px;
  font-weight: 700;
  margin-right: 20px;
  border-radius: 14px;
  color: $textColor;
  user-select: none;
  @extend .hover;
}

.hiddenNav {
  box-shadow: none !important;
  transform: translate(0, -$navHeight);
}

.nav{
  position: fixed;
  top: 0;
  width: 100%;
  height: $navHeight;
  background-color: $themeColor1;
  box-shadow: 0 0 18px $footerBg;
  z-index: 10;
  @extend .trans;

  .navContent{
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $centerWidth;
    height: 100%;

    .homeAndAdmin {
      @extend .baseBtn;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      font-size: 26px;
      width: 60px;
    }
    .homeBtn {
      @extend .homeAndAdmin;
      // 开启定位后，设置偏移量，此时是相对于navContent定位
      cursor: pointer;
      left: 0px;
    }

    .adminBtn {
      @extend .homeAndAdmin;
      margin-right: 0;
      .link{
        color: $textColor
      }
    }
    .searchBtn{
      @extend .homeAndAdmin;
      margin-right: 0;
      right: 160px
    }
    .navBtn {
      @extend .baseBtn;
    }
    .navBtn:last-child {
      margin-right: 0;
    }
    .navActive{
      @extend .navBtn;
      background-color: $hoverColor;
    }

    .articlesBtn {
      position: relative;
      @extend .baseBtn;

      .articlesSecond{
        position: absolute;
        top: -160px;
        width: 90px;
        background-color: $themeColor1;
        border-radius: 14px;
        padding: 10px;
        z-index: 0;
        @extend .trans;
      }
    }
    .articlesBtn:hover .articelsSecond {
      top: 60px;
    }

    .modeBtn {
      @extend .homeAndAdmin;
      right: 80px;
      margin-right: 0;

      .modeOptions {
        position: absolute;
        left: 50%;
        top: -180px;
        transform: translate(-50%, 0);
        width: 80px;
        background-color: $themeColor1;
        border-radius: 14px;
        padding: 10px;
        z-index: 0;
        @extend .trans;

        .modeItem {
          height: 40px;
          background-color: $themeColor;
          margin-bottom: 10px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          @extend .trans;
          color: #fff;
        }
        .modeItem1,
        .modeItem2 {
          color: #000;
        }

        .modeItem:last-child {
          margin-bottom: 0;
        }
        .modeItem:hover {
          transform: scale(1.07);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
        }
      }
    }
    .modeBtn:hover .modeOptions {
      top: 60px;
    }
  }
}

@media screen and (max-width: 1240px) {
  .nav {
    display: none;
  }

  .mobileNavBtn {
    display: flex;
  }

  // 导航条部分
  .boboMobileNavBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
  }

  .boboMobileNav {
    position: relative;
    display: flex;
    transition: all ease 0.4s;
    animation: 2s ease-in-out waves infinite;

    :focus{
      background-color: #9c9cc8;
      border-radius: 0.5rem;
    }
    .boboMobileNavItem {
      list-style: none;
      width: 3rem;
      line-height: 2rem;
      text-align: center;

    }
  }

}

// // 手机端呼出导航的按钮
// .mobileNavBtn {
//   width: 5rem;
//   height: 5rem;
//   display: none;
//   justify-content: center;
//   align-items: center;
//   font-size: 2rem;
//   color: $textColor;
//   position: fixed;
//   top: 0;
//   right: 0;
//   z-index: 99;
// }

// // 手机端导航
// .mobileNavBox {
//   .mobileNavItem {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     color: $textColor;
//     font-size: 1rem;
//     font-family: 'dengxian';
//     width: 3rem;
//     height: 3rem;
//     border-radius: 0.3rem;
//     margin-bottom: 0.5rem;
//   }
//   .mobileNavItem:last-child {
//     margin-bottom: 0;
//   }
//   .mobileNavActive {
//     @extend .mobileNavItem;
//     background-color: $hoverColor;
//   }
//   .modeItem {
//     @extend .mobileNavItem;
//     border: 2rem solid #ccc;
//   }
// }


// // // 移动端
// // .mobileNavBtn {
// //   display: none;
// //   justify-content: center;
// //   align-items: center;
// //   width: 5rem;
// //   height: 5rem;
// //   font-size: 2rem;
// //   color: $textColor;
// //   position: fixed;
// //   top: 0;
// //   left: 0;
// //   z-index: 99;
// // }

// // 手机端导航
// // .mobileNavBox {
// //   .mobileNavItem {
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //     width: 100%;
// //     color: $textColor;
// //     font-size: 1rem;
// //     font-family: 'dengxian';
// //     width: 3rem;
// //     height: 3rem;
// //     border-radius: 0.3rem;
// //     margin-bottom: 0.5rem;
// //   }
// //   .mobileNavItem:last-child {
// //     margin-bottom: 0;
// //   }
// //   .mobileNavActive {
// //     @extend .mobileNavItem;
// //     background-color: $hoverColor;
// //   }
// //   .modeItem {
// //     @extend .mobileNavItem;
// //     border: 2rem solid #ccc;
// //   }
// // }

// .mobileNavBtn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 3rem;
//   height: 3rem;
//   margin: 1rem;
//   font-size: 1.5rem;
//   color: $textColor;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 99;
// }

// @media screen and (max-width: 768px) {
//   .nav {
//     display: none;
//   }

//   .mobileNavBox {
//     .mobileNavItem {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       width: 100%;
//       color: $textColor;
//       font-size: 1rem;
//       font-family: 'dengxian';
//       width: 3rem;
//       height: 3rem;
//       border-radius: 0.3rem;
//       margin-bottom: 0.5rem;
//     }
//     .mobileNavItem:last-child {
//       margin-bottom: 0;
//     }
//     .mobileNavActive {
//       @extend .mobileNavItem;
//       background-color: $hoverColor;
//     }
//     .modeItem {
//       @extend .mobileNavItem;
//       border: 2rem solid #ccc;
//     }
//   }
// }