@import './styles/base.scss';
.AppBox{
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-image: none;
  
  .box {
    color: $textColor;
    height: $topTitleHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    width: $layoutWidth;
    margin: 0 auto;
  
    .title {
      font-size: 50px;
      font-weight: 700;
      text-shadow: 4px 4px 10px $footerBg;
    }
  
    .poem {
      font-size: 28px;
    }
  }

  

  @media screen and (max-width: 1240px) {
    .box {
      width: 100vw;
  
      .title {
        font-size: 1.5rem;
        text-shadow: 1rem 1rem 2rem $footerBg;
      }
  
      .poem {
        font-size: 1rem;
      }
    }
  }
}