// 技巧：如果把:global卸载外面会影响全局样式，但是写在一个组件里面，影响的仅仅是该组件所有的样式
.sidebar {
  padding: 10px 0;

  // 修饰里面的图标
  :global(.iconfont) {
    margin-right: 10px;
  }
}

.header {
  padding: 0 25px;
  cursor: pointer;

  :global(.iconfont) {
    color: #fff;
  }
  .HeaderBox{
    position: absolute;
    display: flex;
    height: 54px;
    right: 10px;
    top: 10px;
  }

  .logoutBtn,
  .blogBtn {
    // position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.2s;
    color: #fff;
  }

  .logoutBtn:hover,
  .blogBtn:hover {
    background-color: rgb(231, 231, 231);
    box-shadow: 0 0  rgba(0, 0, 0, 0.8);
    color: #000;
  }
}

.content {
  padding: 20px;
  min-height: 1000px !important;
}