@import '../../../../styles/base.scss';

.aside {
  width: $asideWidth;

  .cardSticky {
    // 粘滞定位 : 基于用户的滚动位置来定位。
    position: sticky;
    top: $navHeight + $space;
  }
}

@media screen and (max-width: 960px) {
  .aside {
    display: none;
  }
}
